/* Base ----------------------------------------------------------- */
body {
	color: black;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	/*min-width: 320px;*/
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 20px;
}
h1 {
	font-size: 31px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 16px;
}
p {
	line-height: 20px;
	margin-bottom: 20px;
}
a {
	color: blue;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0 0 20px 20px;
	list-style: disc;
}
table {
	margin-bottom: 20px;
}
table, tr, td {
	border: 1px solid black;
}
img {}




/* Layout ----------------------------------------------------------- */
.l-gutter {
	padding-left: 15px;
	padding-right: 15px;
}
.l-grid {
	font-size: 0px;
}
.l-grid .l-grid-col {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.l-grid.l-grid-2cols {}
.l-grid.l-grid-2cols .l-grid-col {
	width: 50%;
}
.l-grid.l-grid-3cols {}
.l-grid.l-grid-3cols .l-grid-col {
	width: 33.33%;
}
.l-table {
	display: table;
}
.l-table .l-table-row {
	display: table-row;
	width: 100%;
}
.l-table .l-table-cell {
	display: table-cell;
	vertical-align: top;
}
.l-table .l-table-cell.l-table-cell-middle {
	vertical-align: middle;
}
.l-header {
	margin-bottom: 20px;
}
.l-content {
	width: 100%;
	max-width: 736px;
	margin: 0 auto;
}
main {
	margin-bottom: 30px;
	margin-top: 57px;
	border-top: 1px solid white; /*to avoid margin collapse*/
}



/* Module ----------------------------------------------------------- */

.button {
	display: inline-block;
	text-decoration: none;
	position: relative;
	padding: 10px 14px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.button.button-fixedwidth {}
.button.button-fixedwidth.button-fixedwidth-small {
	width: 140px;
}
.button.button-fixedwidth.button-fixedwidth-medium {
	width: 200px;
}
.button.button-fixedwidth.button-fixedwidth-large {
	width: 250px;
}
.button.button-tallness-medium {
	padding-top: 20px;
	padding-bottom: 20px;
}
.button.button-red {
	color: white;
	background: #D73639;
}
.button.button-red:hover {
	background: #B95B4E;
}
.button.button-yellow {
	color: white;
	background: #F3CA1E;
}
.button.button-yellow:hover {
	color: white;
	background: #CBB255;
}
.button.button-cornerround {
	-ms-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}
.button .button-ico {
	position: absolute;
}
.button i {
	vertical-align: middle;
}
.button .button-ico.button-ico-right {
	right: 15px;
}
.button .button-ico.button-ico-left {
	left: 15px;
}
.triangle {
	display: inline-block;
	vertical-align: middle;
}
.triangle-right {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid white;
}


header.l-header {
	background: #EFE3D1;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	z-index: 9;	
	top: 0px;
	left: 0px;
}


.header-brand {
	max-width: 145px;
	margin: 0 auto;
}
.header-brand .header-brand-h {
	margin-bottom: 0px;
}
.header-brand .header-brand-h a {
	display: block;
}
.header-brand .header-brand-h svg {
	width: 100%;
}


.nav {}
.nav.nav-header {
	position: relative;
	min-width: 20px;
}
.nav.nav-header a {
	font-size: 21px;
	color: black;
}
.nav.nav-header.nav-header-left {}
.nav.nav-header.nav-header-right {}
.nav.nav-header.nav-trigger {}
.nav.nav-header.nav-trigger .nav-trigger-button {}
.nav.nav-header.nav-trigger .nav-trigger-button .button {
	padding: 0px;
}
.nav.nav-header.nav-trigger .nav-trigger-button .button i {}
.nav.nav-header .nav-trigger-menu {
	position: fixed;
	background: #3E3A39;
	top: 0px;
	left: -100%;
	z-index: 10;
	width: 300px;
	height: 100%;
	-moz-transition: left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transition: left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);	
}
.nav.nav-header .nav-trigger-menu.show {
	left: 0px;
}
.nav.nav-header .nav-trigger-menu ul {
	margin:	0px;
}
.nav.nav-header .nav-trigger-menu ul li {
	border-bottom: 1px solid #717171;
}
.nav.nav-header .nav-trigger-menu ul li:hover {
	background: #231815;
}
.nav.nav-header .nav-trigger-menu ul li a {
	display: block;
	color: #717171;
	text-decoration: none;
	font-size: 18px;
	padding: 15px;
}


.cart {
	position: relative;
}
.cart .icon-cart {
	position: relative;	
}
.cart .icon-cart .cart-counter {
	background: red;
	color: white;
	position: absolute;
	right: -12px;
	top: -8px;
	font-size: 10px;
	line-height: 14px;
	padding: 3px;
	border-radius: 50%;
	/*width: 50%;*/
	min-width: 50%;
	height: 50%;
	font-weight: bold;
	text-align: center;
}


.page-portrait {
	margin-bottom: 20px;
}
.page-portrait > img {
	width: 100%;
}


.bgcontent {}
.bgcontent.bgcontent-sweets {
	margin: 0 auto;
	/*max-width: 960px;*/
	max-width: 736px;
	min-height: 1385px;
	position: relative;
}
.bgcontent.bgcontent-sweets .bgcontent-sweets-slider {
	position: absolute;
	z-index: 1;
	width: 100%;
}
.bgcontent.bgcontent-sweets .l-content {
	position: relative;
	z-index: 2;
}


main .sidecontent {}
main .sidecontent .sidecontent-left {
	width: 70px;
}
main .sidecontent .sidecontent-right {
	width: 100%;
	text-align: right;
}
main .sidecontent .sidecontent-right > img {
	/*max-width: 100%;*/
	width: 100%;
	margin-bottom: 20px;
}
main .sidecontent .sidecontent-right > div {
	text-align: center;
	padding: 0 20px;
	margin-bottom: 20px;
}
main .sidecontent .sidecontent-right::after {
	content: "";
	display: block;
	clear: both;
}


.pagecontrol {
	margin-bottom: 20px;
}
.pagecontrol .button {
	margin-bottom: 15px;
}




.product-cards {
	margin-bottom: 30px;
}
.product-cards ul {
	margin: 0px;
	margin-bottom: 30px;
	list-style: none;
}
.product-cards ul li {
	margin-bottom: 20px;
}
.product-cards ul li .product-cards-anc {
	display: block;
	text-decoration: none;
	color: black;
}
.product-cards ul li .product-cards-anc:hover {
/*	text-decoration: underline;*/
}


.product-cards ul li .product-cards-portrait {
	position: relative;
	margin-bottom: 10px;
}
.product-cards ul li .product-cards-portrait::after {
	content: "";
	display: block;
	padding-bottom: 80%;
}
.product-cards ul li .product-cards-portrait .product-cards-portrait-inner {
	position: absolute;
	width: 100%;
	height: 100%;
}
.product-cards ul li .product-cards-portrait .product-cards-portrait-inner img {
	width: 100%;
	height: 100%;
}
.product-cards ul li .product-cards-detail {
	/*text-align: center;*/
}
.product-cards ul li .product-cards-detail .product-cards-name {
	margin: 0px;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
}
.product-cards ul li .product-cards-detail .product-cards-price {
	margin: 0px;
	font-size: 18px;
	margin-bottom: 10px;
}


.slider {}
.slider.slider-products {
	width: 100%;
}
.slider.slider-products.slider-slick {}
.slider.slider-products.slider-slick > div img {
	width: 100%;
}
.slider.slider-products.slider-slick .slick-arrow {
	z-index: 1;
}
.slider.slider-products.slider-slick .slick-arrow.slick-prev {
	left: 10px;
}
.slider.slider-products.slider-slick .slick-arrow.slick-next {
	right: 10px;
}


.product-brochure {
	margin-bottom: 60px;
}
.product-brochure .slider-products {
	margin-bottom: 30px;
}
.product-brochure .product-brochure-desc {}
.product-brochure .product-brochure-desc h2 {
	font-size: 20px;
	line-height: 24px;
}
.product-brochure .product-brochure-desc h2 span {
	font-size: 14px;
}
.product-brochure .product-brochure-misccontent {}
.product-brochure .product-brochure-misccontent > img {
	width: 100%;
	margin-bottom: 30px;
}

.product-brochure .product-brochure-misccontent .product-brochure-misccontent-modimg {
	position: relative;
}
.product-brochure .product-brochure-misccontent .product-brochure-misccontent-modimg .button-red {
	position: absolute;
	top: 20px;
	right: 0px;
}


.breadcrumb {
	color: #888889;
	font-size: 12px;
	margin: 10px 0;
}
.breadcrumb a {
	color: #888889;
	text-decoration: none;
	padding: 0 5px;
}
.breadcrumb a:first-child {
	padding-left: 0px;
}
.breadcrumb a:last-child {
	padding-right: 0px;
}


/* State ----------------------------------------------------------- */





/* Helpers ----------------------------------------------------------- */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.width-full {
	width: 100%;
}
.align-middle {
	vertical-align: middle;
}
.lazy-load {
	opacity: 0;
	-moz-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.lazy-load.lazy-load-show {
	opacity: 1;
}
.display-none {
	display: none;
}



/* Media ----------------------------------------------------------- */
@media screen and (max-width:768px ) { 
	/* Layouts ----------------------------------------------------------- */
	.l-grid.l-grid-2cols .l-grid-col {
		width: 100%;
	}
	.l-grid.l-grid-3cols .l-grid-col {
		width: 100%;
	}



	/* Modules ----------------------------------------------------------- */

	/* Helpers ----------------------------------------------------------- */
	

}